<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">

<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">

<link rel="apple-touch-icon"
      href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">

<link rel="manifest"
      href="{{ url_for('static', filename='icons/site.webmanifest') }}">

<title>Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="dashboard">

<h1>

Welcome {{name}}

</h1>

<h3>

Mobile : {{mobile}}

</h3>

<div class="cards">

<div class="card">

Income

</div>

<div class="card">

Expense

</div>

<div class="card">

Investment Report

</div>

</div>

</div>

</body>

</html>